kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ include "kai.fullname" . }}
  labels:
    app: {{ include "kai.fullname" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  .kai.yaml: |
    kubeconfig:
      path: {{ .Values.kai.kubeconfig.path }}
      cluster: {{ .Values.kai.kubeconfig.cluster }}
    output: {{ .Values.kai.output }}
    quiet: {{ .Values.kai.quiet }}
    log:
      structured: {{ .Values.kai.log.structured }}
      level: {{ .Values.kai.log.level }}
      file: {{ .Values.kai.log.file }}
    namespaces:
      {{- toYaml .Values.kai.namespaces | nindent 6 }}
    mode: {{ .Values.kai.mode }}
    polling-interval-seconds: {{ .Values.kai.pollingIntervalSeconds }}
    kubernetes-request-timeout-seconds: {{ .Values.kai.kubernetesRequestTimeoutSeconds }}
    anchore:
      url: {{ .Values.kai.anchore.url }}
      user: {{ .Values.kai.anchore.user }}
      password: $KAI_ANCHORE_PASSWORD
      account: {{ .Values.kai.anchore.account }}
      http:
        insecure: {{ .Values.kai.anchore.http.insecure }}
        timeout-seconds: {{ .Values.kai.anchore.http.timeoutSeconds }}
