name: Release Charts to charts.anchore.io

on:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.0.0-rc.1
        with:
          charts_dir: stable
          charts_repo_url: https://btodhunter.github.io/anchore-charts
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"